<html>

    <head>
        <title>
            Orange Collar
            {% if title != '' %}
                 - {{ title }}
            {% endif %}
        </title>
        
        <head>
            <link rel="stylesheet" href="/static/styles/styles_u.css">
        </head>
    </head>
    
    <body>
        <div id="top">
            <h1>Orange Collar</h1>
            <h3>Your Neighborhood Watch for Pets</h3>
        </div>
        
        <div id="menu">
            <ul>
                <li><a href="/index">Home</a></li>
            
                {% if g.user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="flash_banner">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div id="content">
            <div id="article">
                {% block content %}{% endblock %}
            </div>
        </div>
        
    </body>

</html>