{% extends "base.html" %}

{% block content %}

    {% if g.user.is_authenticated %}
        <h1>Edit Profile</h1>
        
        <form action="/edit", method="POST", name="edit">
            {{ form.hidden_tag() }}
            <p>
                Name <input type="name" name="name" placeholder="{{ user.name }}"><br>
                Password <input type="password" name="password"><br>
                Password Confirmation <input type="password" name="confirm_password"><br>
                Primary Phone <input type="text" name="primary_phone" placeholder="{{ user.primary_phone }}"><br>
                Secondary Phone <input type="text" name="secondary_phone" placeholder="{{ user.secondary_phone }}"><br>
                Primary Address <input type="text" name="primary_address" placeholder="{{ user.primary_address }}"><br>
                Secondary Address <input type="text" name="secondary_address" placeholder="{{ user.secondary_phone }}"><br>
                Allow SMS? <input type="checkbox" name="allow_sms"><br>
                Allow MMS? <input type="checkbox" name="allow_mms"><br>
                Allow Calling? <input type="checkbox" name="allow_voice"><br>
                <br>
            </p>
            
            <p><input type="submit" value="Update"></p>
        </form>
    {% else %}
        <h1>Sorry</h1>
        <h3>You cannot edit your profile unless you are logged in.</h3>
    {% endif %}

{% endblock %}