{% extends "base.html" %}

{% block content %}

    <h1>Sign In</h1>
    
    <form action="/login", method="POST", name="login">
        {{ form.hidden_tag() }}
        <p>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            
            {% for error in form.email.errors %}
                <span style="color=red;">{{ error }}</span>
            {% endfor %}
            <br>
        </p>
        
        <p>{{ form.remember_me }}Remember Me</p>
        
        <p><input type="submit" value="Sign In"></p>
    </form>
    
    <br>
    <p>
        Don't have an account? <a href="{{ url_for('signup') }}">Sign Up!</a>
    </p>

{% endblock %}